body{
    background-color: rgb(53, 53, 53);
}

.homelink{
    color: aliceblue;
    font-family: Arial;
}
.container {
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    width: 100%;
}
.row button{
    flex: 1;
    margin: 20px;

}


button{
align-content: center;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
border: none;
height: 300px;
color: white;
font-family: Arial;
font-weight: bold;
font-size: 50px;
transition: 0.8s;
cursor: pointer;
border-radius: 15px;
}
.Westafrica{
background-image: url(images/WestAfrican.jpg);
background-color: rgb(209, 164, 108);
}
.Westafrica:hover{
margin: 10px;
opacity: 0.8;
}
.Westafrica:active{
opacity: 0.4;
}


.Eastafrica{
background-image: url(images/eastmaasai.jpg);
background-color: rgb(145, 71, 61);
}
.Eastafrica:hover{
margin: 10px;
opacity: 0.8;
}
.Eastafrica:active{
opacity: 0.4;
}


.Northafrica{
background-image: url(images/northegyptian.jpg);
background-color: rgb(112, 181, 228);
}
.Northafrica:hover{
margin: 10px;
opacity: 0.8;
}
.Northafrica:active{
opacity: 0.4;
}


.Southafrica{
background-image: url(images/Sangodsouth.jpg);
background-color: rgb(108, 209, 162);
}
.Southafrica:hover{
margin: 10px;
opacity: 0.8;
}
.Southafrica:active{
opacity: 0.4;
}


.Centralafrica{
background-image: url(images/centralaf.jpg);
background-color: rgb(97, 65, 65);
}
.Centralafrica:hover{
margin: 10px;
opacity: 0.8;
}
.Centralafrica:active{
opacity: 0.4;
}
p{
color: aliceblue;
line-height: 25px;
font-family: Arial;
}